.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: .75em 1em;
}

header {
  display: flex;
}

header > .manager {
  margin-left: auto;
}

header > .controller > *:not(:first-child),
header > .manager > *:not(:first-child) {
  margin-left: .5em;
}

header > .controller > .color-button {
  display: inline-block;
  position: relative;
}

header > .controller > .color-button > input[type="color"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .25em 0;
  min-width: 2.5em;
  font-size: 1.5em;
}

main {
  margin-top: .75em;
  flex: 1;
  overflow: hidden;
}

textarea,
.textarea {
  width: 100%;
  height: 100%;
  padding: .25em 1em;
  overflow: auto;
}
