.StickerMarkdown h1,
.StickerMarkdown h2,
.StickerMarkdown h3,
.StickerMarkdown h4,
.StickerMarkdown h5,
.StickerMarkdown h6 {
  margin-bottom: .25em;
}

.StickerMarkdown h4,
.StickerMarkdown h5,
.StickerMarkdown h6 {
  font-size: 1em;
}

.StickerMarkdown img {
  display: block;
  width: 100%;
  height: auto;
}

.StickerMarkdown ul,
.StickerMarkdown ol {
  padding-left: .75em;
}

.StickerMarkdown li:has(> ul),
.StickerMarkdown li:has(> ol) {
  margin-bottom: .25em;
}

.StickerMarkdown a,
.StickerMarkdown input[type="checkbox"] {
  cursor: pointer;
}
